openapi: 3.0.3
info:
  contact:
    name: Ads API Team
    url: https://developer.spotify.com/documentation/ads-api
    email: adstudio@spotify.com
  description: The Spotify Ads API.
  title: Ads API
  version: 3.0.0
servers:
  - url: https://api-partner.spotify.com/ads/v3
    description: Production server.
security:
  - oauth2: []
tags:
  - name: ad-accounts
    description: Operations to manage ad accounts.
  - name: ad-categories
    description: Operations to manage ad categories.
  - name: ad-sets
    description: Operations to manage ad sets.
  - name: ads
    description: Operations to manage ads.
  - name: assets
    description: Operations to manage assets.
  - name: audiences
    description: Operations to manage audiences.
  - name: businesses
    description: Operations to manage businesses.
  - name: campaigns
    description: Operations to manage campaigns.
  - name: estimates
    description: Operations to manage audience forecasting.
  - name: mobile-measurement
    description: Operations to manage mobile measurement.
  - name: pixel-measurement
    description: Operations to manage pixel measurement.
  - name: capi-measurement
    description: Operations to manage Conversion API measurement.
  - name: measurement-datasets
    description: Operations to manage measurement datasets.
  - name: podcast-shows
    description: Operations to fetch podcast shows.
  - name: pricing
    description: Operations to manage pricing.
  - name: reports
    description: Operations to manage reporting.
  - name: targets
    description: Operations to manage targeting.
paths:
  /ad_accounts/{ad_account_id}:
    get:
      description: Returns a single ad account based on query parameters.
      operationId: getAdAccount
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: An ad account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Account by ID
      tags:
        - ad-accounts
    patch:
      description: Update an ad account
      operationId: updateAdAccount
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdAccountRequest'
      responses:
        '200':
          description: Metadata of business' permission to an ad account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Ad Account
      tags:
        - ad-accounts
  /ad_accounts/{ad_account_id}/members:
    post:
      description: Add a member to an ad account.
      operationId: addMemberToAdAccount
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberToAdAccountRequest'
      responses:
        '200':
          description: Metadata of user's permission to an ad account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountMemberResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add a member to an ad account that belongs to a business.
      tags:
        - ad-accounts
    get:
      description: Get all members in an ad account.
      operationId: getAdAccountMembers
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: A list of AdAccountMemberResponse objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdAccountMembersResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get all members in an ad account.
      tags:
        - ad-accounts
  /ad_accounts/{ad_account_id}/members/{member_id}:
    patch:
      description: Update a member's role within an ad account.
      operationId: updateAdAccountMemberRole
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/member_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdAccountMemberRoleRequest'
      responses:
        '200':
          description: Metadata of a business member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountMemberResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update an ad account member's role
      tags:
        - ad-accounts
    delete:
      description: Remove a member from an ad account.
      operationId: removeAdAccountMember
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '204':
          description: The user has been removed from the ad account.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove a member from an ad account.
      tags:
        - ad-accounts
  /ad_categories:
    get:
      description: |
        Returns ad category information based on given query parameter.
        If no query parameter is provided, all categories will be returned.
      operationId: getAdCategories
      parameters:
        - $ref: '#/components/parameters/q'
      responses:
        '200':
          description: A list of ad categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCategoriesResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Categories
      tags:
        - ad-categories
  /ad_accounts/{ad_account_id}/ad_sets/{ad_set_id}:
    get:
      description: Get an ad set by ID.
      operationId: getAdSetById
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_set_id'
      responses:
        '200':
          description: Ad set response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
              example:
                name: Test Ad set
                start_time: '2023-09-23T04:56:07Z'
                end_time: '2023-09-26T04:56:07Z'
                frequency_caps:
                  - frequency_unit: DAY
                    frequency_period: 1
                    max_impressions: 2
                bid_micro_amount: 10000000
                delivery: 'ON'
                pacing: PACING_EVEN
                id: d936ecbb-3a93-4cfa-b756-c61811c6cdc3
                category: ADV_1_1
                campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
                cost_model: CPM
                created_at: '2023-07-28T17:55:12Z'
                updated_at: '2023-09-28T17:55:12Z'
                asset_format: AUDIO
                budget:
                  micro_amount: 500000000
                  type: DAILY
                  currency: USD
                promotion:
                  promotion_goal: ARTIST_PROMO
                  promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                  conversion_events:
                    - tracking_event_type: IMPRESSION
                      window_duration_ms: 86400000
                bid_strategy: MAX_BID
                status: PENDING_APPROVAL
                targets:
                  age_ranges:
                    - min: 18
                      max: 65
                  placements:
                    - PODCAST
                    - MUSIC
                  artist_ids:
                    - 1dfeR4HaWDbWqFHLkxsg1d
                  geo_targets:
                    country_code: US
                    city_ids: []
                    dma_ids:
                      - '503'
                      - '500'
                    postal_code_ids:
                      - US:73170
                    region_ids:
                      - '5101760'
                  genders:
                    - MALE
                    - FEMALE
                  genre_ids:
                    - blues
                    - alternative
                  interest_ids:
                    - 365a5223-0024-4579-a881-3b08e8720021
                    - 46b303e4-09a4-4c8e-998b-37186ff8120a
                  platforms:
                    - IOS
                  podcast_episode_topic_ids:
                    - books-and-literature
                    - automotive
                  sensitive_topic_exclusions:
                    topics:
                      - id: tobacco
                        filter_option: RESTRICTED
                      - id: alcohol
                        filter_option: PARTIAL
                  language: en
                  playlist_ids:
                    - cooking
                    - holidays
          links:
            GetCampaignForCampaignId:
              operationId: getCampaign
              parameters:
                ad_account_id: $request.path.ad_account_id
                campaign_id: $response.body#/campaign_id
                fields: ./campaigns-v3.yaml#/components/parameters/fields
              description: |
                Returns list of campaigns linked to an ad account.
            GetReservationsForAdSet:
              operationId: getReservations
              parameters:
                ad_account_id: $request.path.ad_account_id
                adset_id: $response.body#/id
            GetArtistForTargets:
              operationId: getArtistTargets
              parameters:
                ids: $response.body#/targets/artist_ids
              description: |
                Returns artist information based on given artist id.
            GetGenreForTargets:
              operationId: getGenreTargets
              parameters:
                ids: $response.body#/targets/genre_ids
            GetGeoForTargets:
              operationId: getGeoTargets
              parameters:
                ids: $response.body#/targets/geo_ids
            GetInterestForTargets:
              operationId: getInterestTargets
              parameters:
                ids: $response.body#/targets/interest_ids
              description: |
                Returns interest information based on given interest ids.
            GetPlaylistForTargets:
              operationId: getPlaylistTargets
              parameters:
                ids: $response.body#/targets/playlist_ids
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Set by ID
      tags:
        - ad-sets
    patch:
      description: Partially update an ad set information based on payload.
      operationId: updateAdSet
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_set_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetPatchRequest'
            example:
              name: Test Ad set
              delivery: 'ON'
              targets:
                age_ranges:
                  - min: 23
                    max: 65
                placements:
                  - PODCAST
                  - MUSIC
                geo_targets:
                  country_code: US
                  city_ids: []
                  dma_ids: []
                  postal_code_ids:
                    - US:73170
                  region_ids: []
                genders:
                  - FEMALE
                genre_ids:
                  - blues
                interest_ids:
                  - 365a5223-0024-4579-a881-3b08e8720021
                sensitive_topic_exclusions:
                  filter_option: RESTRICTED
                platforms:
                  - IOS
                playlist_ids:
                  - holidays
      responses:
        '200':
          description: Ad set response with updated fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
              example:
                name: Test Ad set
                start_time: '2023-09-23T04:56:07Z'
                end_time: '2023-09-26T04:56:07Z'
                frequency_caps:
                  - frequency_unit: DAY
                    frequency_period: 1
                    max_impressions: 2
                bid_micro_amount: 10000000
                delivery: 'ON'
                id: d936ecbb-3a93-4cfa-b756-c61811c6cdc3
                category: ADV_1_1
                campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
                cost_model: CPM
                created_at: '2023-07-28T17:55:12Z'
                updated_at: '2023-09-28T17:55:12Z'
                asset_format: AUDIO
                pacing: PACING_EVEN
                budget:
                  micro_amount: 500000000
                  type: DAILY
                  currency: USD
                promotion:
                  promotion_goal: ARTIST_PROMO
                  promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                  conversion_events:
                    - tracking_event_type: IMPRESSION
                      window_duration_ms: 86400000
                bid_strategy: MAX_BID
                status: PENDING_APPROVAL
                targets:
                  age_ranges:
                    - min: 18
                      max: 65
                  placements:
                    - PODCAST
                    - MUSIC
                  artist_ids:
                    - 1dfeR4HaWDbWqFHLkxsg1d
                  geo_targets:
                    country_code: US
                    city_ids: []
                    dma_ids:
                      - '503'
                      - '500'
                    postal_code_ids:
                      - US:73170
                    region_ids:
                      - '5101760'
                  genders:
                    - MALE
                    - FEMALE
                  genre_ids:
                    - blues
                    - alternative
                  interest_ids:
                    - 365a5223-0024-4579-a881-3b08e8720021
                    - 46b303e4-09a4-4c8e-998b-37186ff8120a
                  platforms:
                    - IOS
                  podcast_episode_topic_ids:
                    - books-and-literature
                    - automotive
                  sensitive_topic_exclusions:
                    filter_option: RESTRICTED
                  language: en
                  playlist_ids:
                    - cooking
                    - holidays
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Ad Set
      tags:
        - ad-sets
  /ad_accounts/{ad_account_id}/ad_sets/{ad_set_id}/drafts:
    post:
      description: Creates a draft version of a published ad set under a given ad account.
      operationId: createDraftFromAdSet
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_set_id'
      responses:
        '200':
          description: Metadata of created draft ad set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create a Draft Ad Set from a Published Ad Set
      tags:
        - ad-sets
  /ad_accounts/{ad_account_id}/ad_sets:
    post:
      description: Create a new ad set.
      operationId: createAdSet
      x-spotify-flow-step:
        flow: campaign-creation
        step: 2
        previous: createCampaign
        next: createAd
        description: Second step in the campaign creation flow. Requires a campaign_id from step 1 (createCampaign). Defines targeting, budget, bid strategy, and asset format. Returns an ad_set_id needed for step 3 (createAd).
      x-spotify-related-endpoints:
        - operationId: getAdCategories
          relationship: lookup
          description: Retrieve valid category codes (ADV_X_Y) for the "category" field. Use GET /ad_categories or GET /ad_categories?q={search} to find the right category by name.
        - operationId: estimateAudience
          relationship: validation
          description: Validate targeting will reach a viable audience before creating the ad set. POST /estimates/audience (not scoped under /ad_accounts/).
        - operationId: getAssetsByAdAccount
          relationship: lookup
          description: List available assets to determine valid asset_format options for the ad account before choosing AUDIO, VIDEO, or IMAGE.
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetCreateRequest'
            example:
              name: Test Ad set
              category: ADV_1_1
              campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
              start_time: '2023-09-23T04:56:07Z'
              end_time: '2023-09-26T04:56:07Z'
              pacing: PACING_EVEN
              frequency_caps:
                - frequency_unit: DAY
                  frequency_period: 1
                  max_impressions: 2
              budget:
                micro_amount: 500000000
                type: DAILY
              asset_format: AUDIO
              targets:
                age_ranges:
                  - min: 18
                    max: 65
                artist_ids:
                  - 1dfeR4HaWDbWqFHLkxsg1d
                geo_targets:
                  country_code: US
                  region_ids:
                    - '5101760'
                  dma_ids:
                    - '500'
                    - '503'
                  postal_code_ids:
                    - US:73170
                genders:
                  - MALE
                  - FEMALE
                genre_ids:
                  - alternative
                  - blues
                interest_ids:
                  - 365a5223-0024-4579-a881-3b08e8720021
                  - 46b303e4-09a4-4c8e-998b-37186ff8120a
                placements:
                  - PODCAST
                  - MUSIC
                platforms:
                  - IOS
                podcast_episode_topic_ids:
                  - automotive
                  - books-and-literature
                sensitive_topic_exclusions:
                  topics:
                    - id: tobacco
                      filter_option: RESTRICTED
                    - id: alcohol
                      filter_option: PARTIAL
                language: en
                playlist_ids:
                  - holidays
                  - cooking
              promotion:
                promotion_goal: ARTIST_PROMO
                promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                conversion_events:
                  - tracking_event_type: IMPRESSION
                    window_duration_ms: 86400000
              bid_strategy: MAX_BID
              bid_micro_amount: 10000000
      responses:
        '201':
          description: Ad set response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
              example:
                name: Test Ad set
                start_time: '2023-09-23T04:56:07Z'
                end_time: '2023-09-26T04:56:07Z'
                frequency_caps:
                  - frequency_unit: DAY
                    frequency_period: 1
                    max_impressions: 2
                bid_micro_amount: 10000000
                delivery: 'ON'
                id: d936ecbb-3a93-4cfa-b756-c61811c6cdc3
                category: ADV_1_1
                campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
                cost_model: CPM
                created_at: '2023-07-28T17:55:12Z'
                updated_at: '2023-09-28T17:55:12Z'
                asset_format: AUDIO
                budget:
                  micro_amount: 500000000
                  type: DAILY
                  currency: USD
                promotion:
                  promotion_goal: ARTIST_PROMO
                  promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                  conversion_events:
                    - tracking_event_type: IMPRESSION
                      window_duration_ms: 86400000
                bid_strategy: MAX_BID
                status: PENDING_APPROVAL
                targets:
                  age_ranges:
                    - min: 18
                      max: 65
                  artist_ids:
                    - 1dfeR4HaWDbWqFHLkxsg1d
                  geo_targets:
                    country_code: US
                    city_ids: []
                    dma_ids:
                      - '503'
                      - '500'
                    postal_code_ids:
                      - US:73170
                    region_ids:
                      - '5101760'
                  genders:
                    - MALE
                    - FEMALE
                  genre_ids:
                    - blues
                    - alternative
                  interest_ids:
                    - 365a5223-0024-4579-a881-3b08e8720021
                    - 46b303e4-09a4-4c8e-998b-37186ff8120a
                  platforms:
                    - IOS
                  placements:
                    - PODCAST
                    - MUSIC
                  podcast_episode_topic_ids:
                    - books-and-literature
                    - automotive
                  sensitive_topic_exclusions:
                    topics:
                      - id: tobacco
                        filter_option: RESTRICTED
                      - id: alcohol
                        filter_option: PARTIAL
                  language: en
                  playlist_ids:
                    - cooking
                    - holidays
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create an Ad Set
      tags:
        - ad-sets
    get:
      description: Get all ad sets for the ad account.
      operationId: getAdSetsByAdAccountId
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/adset_sort_field'
        - $ref: '#/components/parameters/campaign_ids'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/statuses'
      responses:
        '200':
          description: Ad set response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetsResponse'
              example:
                paging:
                  page_size: 50
                  total_results: 116
                  offset: 0
                ad_sets:
                  - name: Test Ad set
                    start_time: '2023-08-23T04:56:07Z'
                    end_time: '2023-08-26T04:56:07Z'
                    frequency_caps:
                      - frequency_unit: DAY
                        frequency_period: 1
                        max_impressions: 2
                    bid_micro_amount: 10000000
                    delivery: 'ON'
                    id: 39ff503e-4baa-4e7a-9dd2-4b3f49653801
                    category: ADV_1_1
                    campaign_id: 709076fe-2570-4dd9-94db-acc163e60fd8
                    cost_model: CPM
                    created_at: '2023-07-26T05:54:47Z'
                    updated_at: '2023-08-20T05:54:47Z'
                    asset_format: AUDIO
                    budget:
                      micro_amount: 500000000
                      type: DAILY
                      currency: USD
                    promotion:
                      promotion_goal: ARTIST_PROMO
                      promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                      conversion_events:
                        - tracking_event_type: IMPRESSION
                          window_duration_ms: 86400000
                    bid_strategy: MAX_BID
                    bid_optimization_goal: CLICKS
                    reject_reason: ''
                    status: PENDING_APPROVAL
                    targets:
                      age_ranges:
                        - min: 18
                          max: 65
                      artist_ids:
                        - 1dfeR4HaWDbWqFHLkxsg1d
                      geo_targets:
                        country_code: US
                        city_ids: []
                        dma_ids:
                          - '500'
                          - '503'
                        postal_code_ids:
                          - US:73170
                        region_ids:
                          - '5101760'
                      genders:
                        - MALE
                      genre_ids:
                        - alternative
                        - blues
                      interest_ids:
                        - 46b303e4-09a4-4c8e-998b-37186ff8120a
                        - 365a5223-0024-4579-a881-3b08e8720021
                      platforms:
                        - IOS
                      placements:
                        - PODCAST
                        - MUSIC
                      podcast_episode_topic_ids:
                        - automotive
                        - books-and-literature
                      sensitive_topic_exclusions:
                        topics:
                          - id: tobacco
                            filter_option: RESTRICTED
                          - id: alcohol
                            filter_option: PARTIAL
                      language: en
                      playlist_ids:
                        - holidays
                        - cooking
                  - name: Test Ad set
                    start_time: '2023-08-23T04:56:07Z'
                    end_time: '2023-08-26T04:56:07Z'
                    frequency_caps:
                      - frequency_unit: DAY
                        frequency_period: 1
                        max_impressions: 2
                    bid_micro_amount: 10000000
                    delivery: 'ON'
                    id: 86b54faf-3430-480b-80fd-4b1bad9cee7c
                    category: ADV_1_1
                    campaign_id: 709076fe-2570-4dd9-94db-acc163e60fd8
                    cost_model: CPM
                    created_at: '2023-07-25T23:11:27Z'
                    updated_at: '2023-08-25T23:11:27Z'
                    asset_format: AUDIO
                    budget:
                      micro_amount: 500000000
                      type: DAILY
                      currency: USD
                    promotion:
                      promotion_goal: ARTIST_PROMO
                      promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                      conversion_events:
                        - tracking_event_type: IMPRESSION
                          window_duration_ms: 86400000
                    bid_strategy: MAX_BID
                    reject_reason: ''
                    status: PENDING_APPROVAL
                    targets:
                      age_ranges:
                        - min: 18
                          max: 65
                      artist_ids:
                        - 1dfeR4HaWDbWqFHLkxsg1d
                      geo_targets:
                        country_code: US
                        city_ids: []
                        dma_ids:
                          - '500'
                          - '503'
                        postal_code_ids:
                          - US:73170
                        region_ids:
                          - '5101760'
                      genders:
                        - MALE
                      genre_ids:
                        - alternative
                        - blues
                      interest_ids:
                        - 46b303e4-09a4-4c8e-998b-37186ff8120a
                        - 365a5223-0024-4579-a881-3b08e8720021
                      platforms:
                        - IOS
                      placements:
                        - PODCAST
                        - MUSIC
                      podcast_episode_topic_ids:
                        - automotive
                        - books-and-literature
                      sensitive_topic_exclusions:
                        topics:
                          - id: tobacco
                            filter_option: RESTRICTED
                          - id: alcohol
                            filter_option: PARTIAL
                      language: en
                      playlist_ids:
                        - holidays
                        - cooking
          links:
            GetAdsForAdSets:
              operationId: getAds
              parameters:
                ad_account_id: $request.path.ad_account_id
                ad_set_ids: $response.body#/ad_set.id
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Sets by Ad Account ID
      tags:
        - ad-sets
  /ad_accounts/{ad_account_id}/drafts/ad_sets:
    get:
      description: Get a list of draft ad sets for the ad account.
      operationId: getAdSetDrafts
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/campaign_ids'
        - $ref: '#/components/parameters/statuses'
      responses:
        '200':
          description: Ad Set Drafts response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDraftsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Set Drafts
      tags:
        - ad-sets
    post:
      description: Creates a draft ad set under a given ad account.
      operationId: createAdSetDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetDraftCreateRequest'
      responses:
        '200':
          description: Metadata of created draft ad set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create a Draft Ad Set
      tags:
        - ad-sets
  /ad_accounts/{ad_account_id}/drafts/ad_sets/{draft_ad_set_id}:
    get:
      description: Returns draft ad set based on a given draft ad set ID.
      operationId: getAdSetDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/draft_ad_set_id'
      responses:
        '200':
          description: Metadata for a single draft ad set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Draft Ad Set by ID
      tags:
        - ad-sets
    patch:
      description: Updates the given existing draft ad set.
      operationId: updateAdSetDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/draft_ad_set_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetDraftUpdateRequest'
      responses:
        '200':
          description: Metadata for a single draft campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update a Draft Ad Set
      tags:
        - ad-sets
    delete:
      description: Deletes the given draft ad set.
      operationId: deleteAdSetDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/draft_ad_set_id'
      responses:
        '204':
          description: Draft ad set deleted.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete a Draft Ad Set
      tags:
        - ad-sets
  /ad_accounts/{ad_account_id}/ads:
    post:
      description: Create a new Ad.
      operationId: createAd
      x-spotify-flow-step:
        flow: campaign-creation
        step: 3
        previous: createAdSet
        description: Final step in the campaign creation flow. Requires an ad_set_id from step 2 (createAdSet). Attaches creative assets, call-to-action, and advertiser details to the ad set.
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdRequest'
      responses:
        '201':
          description: Ad response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create an Ad
      tags:
        - ads
    get:
      description: Returns a list of ads for the given ad account.
      operationId: getAds
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_fields'
        - $ref: '#/components/parameters/ad_set_ids'
        - $ref: '#/components/parameters/asset_ids'
        - $ref: '#/components/parameters/parameters-name'
        - $ref: '#/components/parameters/parameters-statuses'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/ad_sort_field'
      responses:
        '200':
          description: A list of ads.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsListResponse'
              example:
                paging:
                  page_size: 50
                  total_results: 116
                  offset: 0
                ads:
                  - advertiser_name: Heart Dance Recordings
                    assets:
                      asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      companion_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      logo_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    call_to_action:
                      text: LEARN_MORE
                      language: ENGLISH
                      clickthrough_url: https://www.spotify.com
                    name: Entity_1
                    tagline: Good Food for Good Dogs
                    third_party_tracking:
                      - measurement_partner: IAS
                        url: https://www.example.com/your-landing-page/?utm_campaign=test-campaign&utm_source=email
                    ad_account_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    start_time: '2026-01-24T00:00:00Z'
                    end_time: '2026-02-24T23:59:59Z'
                    delivery: 'ON'
                    ad_set_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    status: PENDING
                    reject_reason: Your ad wasn’t approved. Create a new ad, or contact us at adstudio@spotify.com.
                    ad_preview_url: https://www.adstudio.spotify.com/campaigns/ads/8ae1f562-1b4e-11ee-be56-0242ac120002/preview
                  - advertiser_name: Heart Dance Recordings
                    assets:
                      asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      companion_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      logo_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    call_to_action:
                      text: LEARN_MORE
                      language: ENGLISH
                      clickthrough_url: https://www.spotify.com
                    name: Entity_1
                    tagline: Good Food for Good Dogs
                    third_party_tracking:
                      - measurement_partner: IAS
                        url: https://www.example.com/your-landing-page/?utm_campaign=test-campaign&utm_source=email
                    ad_account_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    start_time: '2026-01-24T00:00:00Z'
                    end_time: '2026-02-24T23:59:59Z'
                    delivery: 'ON'
                    ad_set_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    status: PENDING
                    reject_reason: Your ad wasn’t approved. Create a new ad, or contact us at adstudio@spotify.com.
                    ad_preview_url: https://www.adstudio.spotify.com/campaigns/ads/8ae1f562-1b4e-11ee-be56-0242ac120002/preview
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ads by Ad Account ID
      tags:
        - ads
  /ad_accounts/{ad_account_id}/ads/{ad_id}:
    get:
      description: Returns ad for a given ad ID.
      operationId: getAd
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_id'
        - $ref: '#/components/parameters/ad_fields'
      responses:
        '200':
          description: Metadata for the given ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
          links:
            GetAdSetForAd:
              $ref: '#/components/links/GetAdSetForAd'
            GetAssetForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/asset_id
              description: |
                Returns asset metadata for a given asset ID.
            GetCompanionForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/companion_asset_id
              description: |
                Returns companion asset metadata for a given asset ID.
            GetLogoForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/logo_asset_id
              description: |
                Returns logo asset metadata for a given asset ID.
            GetCanvasForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/canvas_asset_id
              description: |
                Returns canvas asset metadata for a given asset ID.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad by ID
      tags:
        - ads
    patch:
      description: Updates the given existing ad.
      operationId: updateAd
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdRequest'
      responses:
        '200':
          description: Metadata for a single ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update an Ad
      tags:
        - ads
  /ad_accounts/{ad_account_id}/ads/{ad_id}/drafts:
    post:
      description: Creates a draft version of a published ad under a given ad account.
      operationId: createDraftFromAd
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_id'
      responses:
        '200':
          description: Metadata of created draft ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create a Draft Ad from a Published Ad
      tags:
        - ads
  /ad_accounts/{ad_account_id}/drafts/ads:
    get:
      description: Get a list of draft ads for the ad account.
      operationId: getAdDrafts
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/ad_set_ids'
        - $ref: '#/components/parameters/parameters-statuses'
      responses:
        '200':
          description: Ad Drafts response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDraftsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Drafts
      tags:
        - ads
    post:
      description: Creates a draft ad under a given ad account.
      operationId: createAdDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdDraftCreateRequest'
      responses:
        '200':
          description: Metadata of created draft ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create a Draft Ad
      tags:
        - ads
  /ad_accounts/{ad_account_id}/drafts/ads/{draft_ad_id}:
    get:
      description: Returns draft ad based on a given ad draft ID.
      operationId: getAdDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/draft_ad_id'
      responses:
        '200':
          description: Metadata for a single draft ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Draft Ad by ID
      tags:
        - ads
    patch:
      description: Updates the given existing draft ad.
      operationId: updateAdDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/draft_ad_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdDraftUpdateRequest'
      responses:
        '200':
          description: Metadata for a single draft ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDraft'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update a Draft Ad
      tags:
        - ads
    delete:
      description: Deletes the given draft ad.
      operationId: deleteAdDraft
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/draft_ad_id'
      responses:
        '204':
          description: Draft ad deleted.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete a Draft Ad
      tags:
        - ads
  /ad_accounts/{ad_account_id}/assets:
    get:
      description: Returns list of asset metadata in descending order via the creation time within each asset type for a given ad account ID.
      operationId: getAssetsByAdAccount
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/parameters-asset_ids'
        - $ref: '#/components/parameters/asset_types'
        - $ref: '#/components/parameters/asset_subtypes'
        - $ref: '#/components/parameters/asset_statuses'
        - $ref: '#/components/parameters/aspect_ratios'
        - $ref: '#/components/parameters/components-parameters-name'
        - $ref: '#/components/parameters/parameters-sort_direction'
        - $ref: '#/components/parameters/sort_field'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of asset metadata objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsResponse'
              example:
                paging:
                  page_size: 50
                  total_results: 116
                  offset: 0
                assets:
                  - id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    name: logoImage.png
                    status: READY
                    url: https://i.scdn.co/image/123
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    file_type: JPEG
                    asset_type: IMAGE
                  - id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    name: logoImage.png
                    status: READY
                    url: https://i.scdn.co/image/123
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    file_type: JPEG
                    asset_type: IMAGE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Assets by Ad Account
      tags:
        - assets
    post:
      description: Creates an asset belonging to provided ad account and returns asset metadata. Asset type can be either image, audio, or video.
      operationId: createAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        '200':
          description: The newly created asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}:
    get:
      description: Returns asset metadata for a given asset ID.
      operationId: getAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      responses:
        '200':
          description: Asset object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Asset by ID
      tags:
        - assets
    patch:
      description: Updates the given existing asset.
      operationId: updateAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
      responses:
        '200':
          description: The newly updated asset metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/upload:
    post:
      description: Uploads an asset to storage and returns asset metadata. Supports uploads of files up to 20MB in size. Asset type can be either image, audio, or video. See [here](https://ads.spotify.com/en-US/ad-experiences/audio-ads-specs/) for detailed list of requirements for audio assets and [here](https://ads.spotify.com/en-US/ad-experiences/video-takeover-ad-specs/) for video assets.
      operationId: uploadAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
            encoding:
              media:
                contentType: image/png, image/jpeg, audio/ogg, audio/mp3, audio/wav, audio/mpeg, audio/x-wav, video/mp4, video/quicktime
      responses:
        '200':
          description: The newly created asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Upload Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/chunked_upload/start:
    post:
      description: |
        Start a chunked asset upload process and retrieve upload session id. Asset type can be image, audio, or video.
        Client is expected to use max_chunk_size_mb in the response to dynamically determine how big each file chunk should be.
      operationId: startUploadChunkedAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      responses:
        '200':
          description: Contains a unique upload session ID to be used in subsequent transfer requests. Also, the maximum file chunk size in megabytes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChunkedUploadSession'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Start Upload Chunked Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/chunked_upload/transfer:
    post:
      description: Continues the upload session of a chunked asset by transferring one section of binary media data. Supports uploads of file chunks up to 20MB in size. Asset type can be either image, audio, or video.
      operationId: transferChunkedAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransferChunkedAssetRequest'
            encoding:
              media:
                contentType: image/png, image/jpeg, audio/ogg, audio/mp3, audio/wav, audio/mpeg, audio/x-wav, video/mp4, video/quicktime
      responses:
        '200':
          description: A boolean success indicator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferChunkedAssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Transfer Chunked Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/chunked_upload/complete:
    post:
      description: Completes the upload session of a chunked asset. Asset type can be either image, audio, or video.
      operationId: completeUploadChunkedAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChunkedUploadComplete'
      responses:
        '200':
          description: The newly uploaded asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Complete Upload Chunked Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/audiences:
    post:
      description: Creates a new audience.
      operationId: createAudience
      summary: Create an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudienceRequest'
      responses:
        '201':
          description: An audience.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      description: Returns a list of audiences accessible to the ad account.
      operationId: batchGetAudiences
      summary: List Audiences accessible to an Ad Account
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/audience_ids'
        - $ref: '#/components/parameters/audience_types'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/audience_sort_field'
      responses:
        '200':
          description: A list of audiences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiencesListResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/{audience_id}:
    delete:
      description: Deletes an audience.
      operationId: deleteAudience
      summary: Delete an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/audience_id'
      responses:
        '200':
          description: The audience was deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      description: Returns an audience.
      operationId: getAudience
      summary: Get an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/audience_id'
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: An audience.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      description: Edits an audience.
      operationId: editAudience
      summary: Edit an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/audience_id'
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditAudienceRequest'
      responses:
        '200':
          description: An audience.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/upload_url:
    post:
      description: Get Signed GCS upload URL.
      operationId: createUploadUrl
      summary: Get Signed GCS upload URL to upload a user list file
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: A signed GCS upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUploadUrlResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/upload_url/{audience_id}:
    post:
      description: Get Signed GCS upload URL to replace an existing audience
      operationId: replaceUploadUrl
      summary: Get Signed GCS upload URL to upload a user list file for an existing audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/audience_id'
      responses:
        '200':
          description: A signed GCS upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUploadUrlResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/datasets:
    get:
      description: A list of datasets eligible for creating custom audiences
      operationId: getAudienceEligibleDatasets
      summary: List Datasets eligible for creating Custom Audiences
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of audiences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceEligibleDatasetsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /businesses:
    post:
      description: Creates a new business
      operationId: createBusiness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessRequest'
      responses:
        '200':
          description: A business object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Business
      tags:
        - businesses
    get:
      description: Gets businesses for logged-in user.
      operationId: getBusinesses
      x-enable-public-developer-portal-docs: false
      responses:
        '200':
          description: Array of business objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessesResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Businesses for Current User
      tags:
        - businesses
  /businesses/{business_id}:
    get:
      description: Returns business based on a given business id.
      operationId: getBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: A business object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Business by ID
      tags:
        - businesses
    patch:
      description: Update the given existing business.
      operationId: updateBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessRequest'
      responses:
        '200':
          description: Metadata for a business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Business
      tags:
        - businesses
  /businesses/{business_id}/members:
    post:
      description: Accept a user invitation to join a business. This will create a new business user profile and add them to the specified business
      operationId: acceptBusinessInvitation
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInvitationRequest'
      responses:
        '200':
          description: Metadata of user's permission to a business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMemberResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Accept a user invitation to join a business.
      tags:
        - businesses
    get:
      description: |
        Returns all members and their roles (including invited users) within a given business. Users with expired or cancelled invitations are not returned.
        By convention, the first member in the response is always the calling user.
      operationId: getBusinessMembers
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: List of all user permissions for a business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessMembersResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get business members by business id based on the requesting user's permission
      tags:
        - businesses
  /businesses/{business_id}/members/{member_id}:
    get:
      description: Returns a specific member of a business.
      operationId: getBusinessMember
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/parameters-member_id'
      responses:
        '200':
          description: A member of a business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMemberResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get a member of a business
      tags:
        - businesses
    patch:
      description: Update a member's business user profile.
      operationId: updateBusinessMember
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/parameters-member_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessMemberRequest'
      responses:
        '200':
          description: Metadata of user's permission to a business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMemberResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update a member's business user profile
      tags:
        - businesses
    delete:
      description: Remove a member from a business.
      operationId: removeBusinessMember
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/parameters-member_id'
      responses:
        '204':
          description: The user has been removed from the business and all assets under the business.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove a member from a business
      tags:
        - businesses
  /businesses/{business_id}/members/{member_id}/role:
    patch:
      summary: Update a business member's role
      tags:
        - businesses
      description: Update a business member's role
      operationId: updateBusinessMemberRole
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/parameters-member_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessMemberRoleRequest'
      responses:
        '200':
          description: The business member whose role was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMemberResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /businesses/{business_id}/members/{member_id}/ad_accounts:
    get:
      summary: Get Ad Accounts for a Business Member
      description: |
        Returns ad accounts within a business that a specific member belongs to.
      operationId: getAdAccountsForBusinessMember
      parameters:
        - $ref: '#/components/parameters/business_id'
        - name: member_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ad accounts for the given business member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountsResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Member not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - ad-accounts
  /businesses/{business_id}/invitations:
    get:
      summary: Get pending business invitations
      description: |
        Retrieves all pending invitations for a given business. Only users with ADS_BUSINESS_MEMBER_VIEW_ALL permission can access this endpoint.
      operationId: getPendingInvitations
      tags:
        - businesses
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: List of all pending business invitations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPendingBusinessInvitationsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      description: Invite a user to join a business.
      operationId: createBusinessInvitation
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessInvitationRequest'
      responses:
        '200':
          description: Metadata of user's invitation to a business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBusinessInvitationResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Invite a user to a business.
      tags:
        - businesses
  /businesses/{business_id}/invitations/{invitation_id}:
    delete:
      description: Cancel a user's invitation to a business.
      operationId: cancelBusinessInvitation
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/invitation_id'
      responses:
        '204':
          description: The user's invitation to the business has been cancelled.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Cancel a user's invitation to a business.
      tags:
        - businesses
  /businesses/{business_id}/ad_accounts:
    post:
      description: Create Ad Account.
      operationId: createAdAccountForBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdAccountRequest'
      responses:
        '200':
          description: Metadata of business' permission to an ad account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Ad Account
      tags:
        - ad-accounts
    get:
      description: Returns ad account(s) under a given business for the current authenticated user
      operationId: getAdAccountsInBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
        - name: type
          in: query
          required: false
          description: Filter ad accounts by type.
          schema:
            $ref: '#/components/schemas/Type'
      responses:
        '200':
          description: A list of BusinessPermissionToAdAccount objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessAdAccountsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Accounts for Current User by Business ID
      tags:
        - ad-accounts
  /ad_accounts/{ad_account_id}/campaigns:
    get:
      description: Returns list of campaigns linked to an ad account.
      operationId: getCampaigns
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/campaignIds'
        - $ref: '#/components/parameters/campaigns-v3_components-parameters-name'
        - $ref: '#/components/parameters/adSetStatuses'
        - $ref: '#/components/parameters/campaignStatuses'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/parameters-sort_field'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/salesforceSalesOrder'
      responses:
        '200':
          description: A list of campaigns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsListResponse'
          links:
            GetAdSetsForCampaign:
              operationId: getAdSetsByAdAccountId
              parameters:
                ad_account_id: $request.path.ad_account_id
                campaign_ids: $response.body#/campaign.id
            GetSalesforceOpportunityForCampaign:
              operationId: getOpportunitiesByAdAccountId
              parameters:
                ad_account_id: $request.path.ad_account_id
                search_key: $response.body#/campaign.salesforceOpportunity
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Campaigns by Ad Account ID
      tags:
        - campaigns
    post:
      description: Creates campaign under a given ad account.
      operationId: createCampaign
      x-spotify-flow-step:
        flow: campaign-creation
        step: 1
        next: createAdSet
        description: First step in the campaign creation flow. Create a campaign to get a campaign_id, which is required when creating ad sets in step 2.
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
[...]
