openapi: 3.0.3
info:
  contact:
    name: Ads API Team
    url: https://developer.spotify.com/documentation/ads-api
    email: fossboard@spotify.com
  description: The Spotify Ads API.
  title: Ads API
  version: 3.0.0
servers:
  - url: https://api-partner.spotify.com/ads/v3
    description: Production server.
security:
  - oauth2: []
tags:
  - name: ab-tests
    description: Operations to manage AB tests.
  - name: ad-accounts
    description: Operations to manage ad accounts.
  - name: ad-accounts-internal
    description: Operations to manage ad accounts internally.
  - name: ad-categories
    description: Operations to manage ad categories.
  - name: ads-manager-config
    description: Operations to manage ads manager configuration.
  - name: ad-sets
    description: Operations to manage ad sets.
  - name: ads
    description: Operations to manage ads.
  - name: assets
    description: Operations to manage assets.
  - name: audiences
    description: Operations to manage audiences.
  - name: audit-logs
    description: Operations to manage audit logs.
  - name: billing
    description: Operations to manage billing.
  - name: businesses
    description: Operations to manage businesses.
  - name: campaigns
    description: Operations to manage campaigns.
  - name: client-accounts
    description: Client Accounts internal endpoints.
  - name: deals
    description: Operations to manage deals.
  - name: drafts
    description: Operations to manage drafts.
  - name: estimates
    description: Operations to manage audience forecasting.
  - name: experiments
    description: Operations to manage experiments.
  - name: mobile-measurement
    description: Operations to manage mobile measurement.
  - name: pixel-measurement
    description: Operations to manage pixel measurement.
  - name: capi-measurement
    description: Operations to manage Conversion API measurement.
  - name: measurement-datasets
    description: Operations to manage measurement datasets.
  - name: offers
    description: Operations to manage offers.
  - name: partnerships
    description: Operations to manage partnerships.
  - name: podcast-shows
    description: Operations to fetch podcast shows.
  - name: podcast-episodes
    description: Operations to fetch podcast episodes.
  - name: prepay
    description: Operations to manage prepay transactions
  - name: pricing
    description: Operations to manage pricing.
  - name: reports
    description: Operations to manage reporting.
  - name: vat
    description: Operations to manage vat.
  - name: promo-codes
    description: Operations to manage promo codes.
  - name: reservations
    description: Operations to manage reservations.
  - name: salesforce
    description: Operations to manage Salesforce.
  - name: targets
    description: Operations to manage targeting.
  - name: tests
    description: Operations to manage test data.
  - name: users
    description: Operations to manage users.
paths:
  /ad_accounts/{ad_account_id}:
    get:
      description: Returns a single ad account based on query parameters.
      operationId: getAdAccount
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: An ad account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Account by ID
      tags:
        - ad-accounts
    patch:
      description: Update an ad account
      operationId: updateAdAccount
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdAccountRequest'
      responses:
        '200':
          description: Metadata of business' permission to an ad account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Ad Account
      tags:
        - ad-accounts
  /ad_categories:
    get:
      description: |
        Returns ad category information based on given query parameter.
        If no query parameter is provided, all categories will be returned.
      operationId: getAdCategories
      parameters:
        - $ref: '#/components/parameters/q'
      responses:
        '200':
          description: A list of ad categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCategoriesResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Categories
      tags:
        - ad-categories
  /ad_accounts/{ad_account_id}/ad_sets/{ad_set_id}:
    get:
      description: Get an ad set by ID.
      operationId: getAdSetById
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_set_id'
      responses:
        '200':
          description: Ad set response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
              example:
                name: Test Ad set
                start_time: '2023-09-23T04:56:07Z'
                end_time: '2023-09-26T04:56:07Z'
                frequency_caps:
                  - frequency_unit: DAY
                    frequency_period: 1
                    max_impressions: 2
                bid_micro_amount: 10000000
                delivery: 'ON'
                pacing: PACING_EVEN
                id: d936ecbb-3a93-4cfa-b756-c61811c6cdc3
                category: ADV_1_1
                campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
                cost_model: CPM
                created_at: '2023-07-28T17:55:12Z'
                updated_at: '2023-09-28T17:55:12Z'
                asset_format: AUDIO
                budget:
                  micro_amount: 500000000
                  type: DAILY
                  currency: USD
                promotion:
                  promotion_goal: ARTIST_PROMO
                  promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                  conversion_events:
                    - tracking_event_type: IMPRESSION
                      window_duration_ms: 86400000
                bid_strategy: MAX_BID
                status: PENDING_APPROVAL
                targets:
                  age_ranges:
                    - min: 18
                      max: 65
                  placements:
                    - PODCAST
                    - MUSIC
                  artist_ids:
                    - 1dfeR4HaWDbWqFHLkxsg1d
                  geo_targets:
                    country_code: US
                    city_ids: []
                    dma_ids:
                      - '503'
                      - '500'
                    postal_code_ids:
                      - US:73170
                    region_ids:
                      - '5101760'
                  genders:
                    - MALE
                    - FEMALE
                  genre_ids:
                    - blues
                    - alternative
                  interest_ids:
                    - 365a5223-0024-4579-a881-3b08e8720021
                    - 46b303e4-09a4-4c8e-998b-37186ff8120a
                  platforms:
                    - IOS
                  podcast_episode_topic_ids:
                    - books-and-literature
                    - automotive
                  sensitive_topic_exclusions:
                    topics:
                      - id: tobacco
                        filter_option: RESTRICTED
                      - id: alcohol
                        filter_option: PARTIAL
                  language: en
                  playlist_ids:
                    - cooking
                    - holidays
          links:
            GetCampaignForCampaignId:
              operationId: getCampaign
              parameters:
                ad_account_id: $request.path.ad_account_id
                campaign_id: $response.body#/campaign_id
                fields: ./campaigns-v3.yaml#/components/parameters/fields
              description: |
                Returns list of campaigns linked to an ad account.
            GetReservationsForAdSet:
              operationId: getReservations
              parameters:
                ad_account_id: $request.path.ad_account_id
                adset_id: $response.body#/id
            GetArtistForTargets:
              operationId: getArtistTargets
              parameters:
                ids: $response.body#/targets/artist_ids
              description: |
                Returns artist information based on given artist id.
            GetGenreForTargets:
              operationId: getGenreTargets
              parameters:
                ids: $response.body#/targets/genre_ids
            GetGeoForTargets:
              operationId: getGeoTargets
              parameters:
                ids: $response.body#/targets/geo_ids
            GetInterestForTargets:
              operationId: getInterestTargets
              parameters:
                ids: $response.body#/targets/interest_ids
              description: |
                Returns interest information based on given interest ids.
            GetPlaylistForTargets:
              operationId: getPlaylistTargets
              parameters:
                ids: $response.body#/targets/playlist_ids
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Set by ID
      tags:
        - ad-sets
    patch:
      description: Partially update an ad set information based on payload.
      operationId: updateAdSet
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_set_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetPatchRequest'
            example:
              name: Test Ad set
              delivery: 'ON'
              targets:
                age_ranges:
                  - min: 23
                    max: 65
                placements:
                  - PODCAST
                  - MUSIC
                geo_targets:
                  country_code: US
                  city_ids: []
                  dma_ids: []
                  postal_code_ids:
                    - US:73170
                  region_ids: []
                genders:
                  - FEMALE
                genre_ids:
                  - blues
                interest_ids:
                  - 365a5223-0024-4579-a881-3b08e8720021
                sensitive_topic_exclusions:
                  filter_option: RESTRICTED
                platforms:
                  - IOS
                playlist_ids:
                  - holidays
      responses:
        '200':
          description: Ad set response with updated fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
              example:
                name: Test Ad set
                start_time: '2023-09-23T04:56:07Z'
                end_time: '2023-09-26T04:56:07Z'
                frequency_caps:
                  - frequency_unit: DAY
                    frequency_period: 1
                    max_impressions: 2
                bid_micro_amount: 10000000
                delivery: 'ON'
                id: d936ecbb-3a93-4cfa-b756-c61811c6cdc3
                category: ADV_1_1
                campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
                cost_model: CPM
                created_at: '2023-07-28T17:55:12Z'
                updated_at: '2023-09-28T17:55:12Z'
                asset_format: AUDIO
                pacing: PACING_EVEN
                budget:
                  micro_amount: 500000000
                  type: DAILY
                  currency: USD
                promotion:
                  promotion_goal: ARTIST_PROMO
                  promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                  conversion_events:
                    - tracking_event_type: IMPRESSION
                      window_duration_ms: 86400000
                bid_strategy: MAX_BID
                status: PENDING_APPROVAL
                targets:
                  age_ranges:
                    - min: 18
                      max: 65
                  placements:
                    - PODCAST
                    - MUSIC
                  artist_ids:
                    - 1dfeR4HaWDbWqFHLkxsg1d
                  geo_targets:
                    country_code: US
                    city_ids: []
                    dma_ids:
                      - '503'
                      - '500'
                    postal_code_ids:
                      - US:73170
                    region_ids:
                      - '5101760'
                  genders:
                    - MALE
                    - FEMALE
                  genre_ids:
                    - blues
                    - alternative
                  interest_ids:
                    - 365a5223-0024-4579-a881-3b08e8720021
                    - 46b303e4-09a4-4c8e-998b-37186ff8120a
                  platforms:
                    - IOS
                  podcast_episode_topic_ids:
                    - books-and-literature
                    - automotive
                  sensitive_topic_exclusions:
                    filter_option: RESTRICTED
                  language: en
                  playlist_ids:
                    - cooking
                    - holidays
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Ad Set
      tags:
        - ad-sets
  /ad_accounts/{ad_account_id}/ad_sets:
    post:
      description: Create a new ad set.
      operationId: createAdSet
      x-spotify-flow-step:
        flow: campaign-creation
        step: 2
        previous: createCampaign
        next: createAd
        description: Create an ad set under the campaign. Requires campaign_id from step 1. Pass the returned ad set ID to createAd.
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetCreateRequest'
            example:
              name: Test Ad set
              category: ADV_1_1
              campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
              start_time: '2023-09-23T04:56:07Z'
              end_time: '2023-09-26T04:56:07Z'
              pacing: PACING_EVEN
              frequency_caps:
                - frequency_unit: DAY
                  frequency_period: 1
                  max_impressions: 2
              budget:
                micro_amount: 500000000
                type: DAILY
              asset_format: AUDIO
              targets:
                age_ranges:
                  - min: 18
                    max: 65
                artist_ids:
                  - 1dfeR4HaWDbWqFHLkxsg1d
                geo_targets:
                  country_code: US
                  region_ids:
                    - '5101760'
                  dma_ids:
                    - '500'
                    - '503'
                  postal_code_ids:
                    - US:73170
                genders:
                  - MALE
                  - FEMALE
                genre_ids:
                  - alternative
                  - blues
                interest_ids:
                  - 365a5223-0024-4579-a881-3b08e8720021
                  - 46b303e4-09a4-4c8e-998b-37186ff8120a
                placements:
                  - PODCAST
                  - MUSIC
                platforms:
                  - IOS
                podcast_episode_topic_ids:
                  - automotive
                  - books-and-literature
                sensitive_topic_exclusions:
                  topics:
                    - id: tobacco
                      filter_option: RESTRICTED
                    - id: alcohol
                      filter_option: PARTIAL
                language: en
                playlist_ids:
                  - holidays
                  - cooking
              promotion:
                promotion_goal: ARTIST_PROMO
                promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                conversion_events:
                  - tracking_event_type: IMPRESSION
                    window_duration_ms: 86400000
              bid_strategy: MAX_BID
              bid_micro_amount: 10000000
      responses:
        '201':
          description: Ad set response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
              example:
                name: Test Ad set
                start_time: '2023-09-23T04:56:07Z'
                end_time: '2023-09-26T04:56:07Z'
                frequency_caps:
                  - frequency_unit: DAY
                    frequency_period: 1
                    max_impressions: 2
                bid_micro_amount: 10000000
                delivery: 'ON'
                id: d936ecbb-3a93-4cfa-b756-c61811c6cdc3
                category: ADV_1_1
                campaign_id: 5bbc4fec-c9a5-4fc6-98f4-e950f40b74c7
                cost_model: CPM
                created_at: '2023-07-28T17:55:12Z'
                updated_at: '2023-09-28T17:55:12Z'
                asset_format: AUDIO
                budget:
                  micro_amount: 500000000
                  type: DAILY
                  currency: USD
                promotion:
                  promotion_goal: ARTIST_PROMO
                  promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                  conversion_events:
                    - tracking_event_type: IMPRESSION
                      window_duration_ms: 86400000
                bid_strategy: MAX_BID
                status: PENDING_APPROVAL
                targets:
                  age_ranges:
                    - min: 18
                      max: 65
                  artist_ids:
                    - 1dfeR4HaWDbWqFHLkxsg1d
                  geo_targets:
                    country_code: US
                    city_ids: []
                    dma_ids:
                      - '503'
                      - '500'
                    postal_code_ids:
                      - US:73170
                    region_ids:
                      - '5101760'
                  genders:
                    - MALE
                    - FEMALE
                  genre_ids:
                    - blues
                    - alternative
                  interest_ids:
                    - 365a5223-0024-4579-a881-3b08e8720021
                    - 46b303e4-09a4-4c8e-998b-37186ff8120a
                  platforms:
                    - IOS
                  placements:
                    - PODCAST
                    - MUSIC
                  podcast_episode_topic_ids:
                    - books-and-literature
                    - automotive
                  sensitive_topic_exclusions:
                    topics:
                      - id: tobacco
                        filter_option: RESTRICTED
                      - id: alcohol
                        filter_option: PARTIAL
                  language: en
                  playlist_ids:
                    - cooking
                    - holidays
          links:
            CreateAdForAdSet:
              operationId: createAd
              description: |
                Create an ad under this ad set. Pass the returned ad set ID as ad_set_id in the ad creation request body.
            GetCreatedAdSet:
              operationId: getAdSetById
              parameters:
                ad_account_id: $request.path.ad_account_id
                ad_set_id: $response.body#/id
              description: Retrieve the newly created ad set.
            UpdateCreatedAdSet:
              operationId: updateAdSet
              parameters:
                ad_account_id: $request.path.ad_account_id
                ad_set_id: $response.body#/id
              description: Update the ad set.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create an Ad Set
      tags:
        - ad-sets
    get:
      description: Get all ad sets for the ad account.
      operationId: getAdSetsByAdAccountId
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/adset_sort_field'
        - $ref: '#/components/parameters/campaign_ids'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/statuses'
      responses:
        '200':
          description: Ad set response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetsResponse'
              example:
                paging:
                  page_size: 50
                  total_results: 116
                  offset: 0
                ad_sets:
                  - name: Test Ad set
                    start_time: '2023-08-23T04:56:07Z'
                    end_time: '2023-08-26T04:56:07Z'
                    frequency_caps:
                      - frequency_unit: DAY
                        frequency_period: 1
                        max_impressions: 2
                    bid_micro_amount: 10000000
                    delivery: 'ON'
                    id: 39ff503e-4baa-4e7a-9dd2-4b3f49653801
                    category: ADV_1_1
                    campaign_id: 709076fe-2570-4dd9-94db-acc163e60fd8
                    cost_model: CPM
                    created_at: '2023-07-26T05:54:47Z'
                    updated_at: '2023-08-20T05:54:47Z'
                    asset_format: AUDIO
                    budget:
                      micro_amount: 500000000
                      type: DAILY
                      currency: USD
                    promotion:
                      promotion_goal: ARTIST_PROMO
                      promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                      conversion_events:
                        - tracking_event_type: IMPRESSION
                          window_duration_ms: 86400000
                    bid_strategy: MAX_BID
                    bid_optimization_goal: CLICKS
                    reject_reason: ''
                    status: PENDING_APPROVAL
                    targets:
                      age_ranges:
                        - min: 18
                          max: 65
                      artist_ids:
                        - 1dfeR4HaWDbWqFHLkxsg1d
                      geo_targets:
                        country_code: US
                        city_ids: []
                        dma_ids:
                          - '500'
                          - '503'
                        postal_code_ids:
                          - US:73170
                        region_ids:
                          - '5101760'
                      genders:
                        - MALE
                      genre_ids:
                        - alternative
                        - blues
                      interest_ids:
                        - 46b303e4-09a4-4c8e-998b-37186ff8120a
                        - 365a5223-0024-4579-a881-3b08e8720021
                      platforms:
                        - IOS
                      placements:
                        - PODCAST
                        - MUSIC
                      podcast_episode_topic_ids:
                        - automotive
                        - books-and-literature
                      sensitive_topic_exclusions:
                        topics:
                          - id: tobacco
                            filter_option: RESTRICTED
                          - id: alcohol
                            filter_option: PARTIAL
                      language: en
                      playlist_ids:
                        - holidays
                        - cooking
                  - name: Test Ad set
                    start_time: '2023-08-23T04:56:07Z'
                    end_time: '2023-08-26T04:56:07Z'
                    frequency_caps:
                      - frequency_unit: DAY
                        frequency_period: 1
                        max_impressions: 2
                    bid_micro_amount: 10000000
                    delivery: 'ON'
                    id: 86b54faf-3430-480b-80fd-4b1bad9cee7c
                    category: ADV_1_1
                    campaign_id: 709076fe-2570-4dd9-94db-acc163e60fd8
                    cost_model: CPM
                    created_at: '2023-07-25T23:11:27Z'
                    updated_at: '2023-08-25T23:11:27Z'
                    asset_format: AUDIO
                    budget:
                      micro_amount: 500000000
                      type: DAILY
                      currency: USD
                    promotion:
                      promotion_goal: ARTIST_PROMO
                      promotion_target_id: 1dfeR4HaWDbWqFHLkxsg1d
                      conversion_events:
                        - tracking_event_type: IMPRESSION
                          window_duration_ms: 86400000
                    bid_strategy: MAX_BID
                    reject_reason: ''
                    status: PENDING_APPROVAL
                    targets:
                      age_ranges:
                        - min: 18
                          max: 65
                      artist_ids:
                        - 1dfeR4HaWDbWqFHLkxsg1d
                      geo_targets:
                        country_code: US
                        city_ids: []
                        dma_ids:
                          - '500'
                          - '503'
                        postal_code_ids:
                          - US:73170
                        region_ids:
                          - '5101760'
                      genders:
                        - MALE
                      genre_ids:
                        - alternative
                        - blues
                      interest_ids:
                        - 46b303e4-09a4-4c8e-998b-37186ff8120a
                        - 365a5223-0024-4579-a881-3b08e8720021
                      platforms:
                        - IOS
                      placements:
                        - PODCAST
                        - MUSIC
                      podcast_episode_topic_ids:
                        - automotive
                        - books-and-literature
                      sensitive_topic_exclusions:
                        topics:
                          - id: tobacco
                            filter_option: RESTRICTED
                          - id: alcohol
                            filter_option: PARTIAL
                      language: en
                      playlist_ids:
                        - holidays
                        - cooking
          links:
            GetAdsForAdSets:
              operationId: getAds
              parameters:
                ad_account_id: $request.path.ad_account_id
                ad_set_ids: $response.body#/ad_set.id
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Sets by Ad Account ID
      tags:
        - ad-sets
  /ad_accounts/{ad_account_id}/ads:
    post:
      description: Create a new Ad.
      operationId: createAd
      x-spotify-flow-step:
        flow: campaign-creation
        step: 3
        previous: createAdSet
        description: Create an ad under the ad set. Requires ad_set_id from step 2. For AUDIO format, also requires asset IDs from prior uploads.
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdRequest'
      responses:
        '201':
          description: Ad response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
          links:
            GetCreatedAd:
              operationId: getAd
              parameters:
                ad_account_id: $request.path.ad_account_id
                ad_id: $response.body#/id
              description: Retrieve the newly created ad.
            GetAdSetForAd:
              $ref: '#/components/links/GetAdSetForAd'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create an Ad
      tags:
        - ads
    get:
      description: Returns a list of ads for the given ad account.
      operationId: getAds
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_fields'
        - $ref: '#/components/parameters/ad_set_ids'
        - $ref: '#/components/parameters/asset_ids'
        - $ref: '#/components/parameters/parameters-name'
        - $ref: '#/components/parameters/parameters-statuses'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/ad_sort_field'
      responses:
        '200':
          description: A list of ads.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsListResponse'
              example:
                paging:
                  page_size: 50
                  total_results: 116
                  offset: 0
                ads:
                  - advertiser_name: Heart Dance Recordings
                    assets:
                      asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      companion_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      logo_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    call_to_action:
                      text: LEARN_MORE
                      language: ENGLISH
                      clickthrough_url: https://www.spotify.com
                    name: Entity_1
                    tagline: Good Food for Good Dogs
                    third_party_tracking:
                      - measurement_partner: IAS
                        url: https://www.example.com/your-landing-page/?utm_campaign=test-campaign&utm_source=email
                    ad_account_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    start_time: '2026-01-24T00:00:00Z'
                    end_time: '2026-02-24T23:59:59Z'
                    delivery: 'ON'
                    ad_set_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    status: PENDING
                    reject_reason: Your ad wasn’t approved. Create a new ad, or contact us at adstudio@spotify.com.
                    ad_preview_url: https://www.adstudio.spotify.com/campaigns/ads/8ae1f562-1b4e-11ee-be56-0242ac120002/preview
                  - advertiser_name: Heart Dance Recordings
                    assets:
                      asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      companion_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                      logo_asset_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    call_to_action:
                      text: LEARN_MORE
                      language: ENGLISH
                      clickthrough_url: https://www.spotify.com
                    name: Entity_1
                    tagline: Good Food for Good Dogs
                    third_party_tracking:
                      - measurement_partner: IAS
                        url: https://www.example.com/your-landing-page/?utm_campaign=test-campaign&utm_source=email
                    ad_account_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    start_time: '2026-01-24T00:00:00Z'
                    end_time: '2026-02-24T23:59:59Z'
                    delivery: 'ON'
                    ad_set_id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    status: PENDING
                    reject_reason: Your ad wasn’t approved. Create a new ad, or contact us at adstudio@spotify.com.
                    ad_preview_url: https://www.adstudio.spotify.com/campaigns/ads/8ae1f562-1b4e-11ee-be56-0242ac120002/preview
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ads by Ad Account ID
      tags:
        - ads
  /ad_accounts/{ad_account_id}/ads/{ad_id}:
    get:
      description: Returns ad for a given ad ID.
      operationId: getAd
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_id'
        - $ref: '#/components/parameters/ad_fields'
      responses:
        '200':
          description: Metadata for the given ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
          links:
            GetAdSetForAd:
              $ref: '#/components/links/GetAdSetForAd'
            GetAssetForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/asset_id
              description: |
                Returns asset metadata for a given asset ID.
            GetCompanionForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/companion_asset_id
              description: |
                Returns companion asset metadata for a given asset ID.
            GetLogoForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/logo_asset_id
              description: |
                Returns logo asset metadata for a given asset ID.
            GetCanvasForAssetId:
              operationId: getAsset
              parameters:
                ad_account_id: $parameters.ad_account_id
                asset_id: $response.body#/assets/canvas_asset_id
              description: |
                Returns canvas asset metadata for a given asset ID.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad by ID
      tags:
        - ads
    patch:
      description: |
        Updates the given existing ad. There is no DELETE endpoint for ads.
        To archive an ad, set status to "ARCHIVED".
      operationId: updateAd
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/ad_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdRequest'
      responses:
        '200':
          description: Metadata for a single ad.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update an Ad
      tags:
        - ads
  /ad_accounts/{ad_account_id}/assets:
    get:
      description: Returns list of asset metadata in descending order via the creation time within each asset type for a given ad account ID.
      operationId: getAssetsByAdAccount
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/parameters-asset_ids'
        - $ref: '#/components/parameters/asset_types'
        - $ref: '#/components/parameters/asset_subtypes'
        - $ref: '#/components/parameters/asset_statuses'
        - $ref: '#/components/parameters/aspect_ratios'
        - $ref: '#/components/parameters/components-parameters-name'
        - $ref: '#/components/parameters/parameters-sort_direction'
        - $ref: '#/components/parameters/sort_field'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of asset metadata objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsResponse'
              example:
                paging:
                  page_size: 50
                  total_results: 116
                  offset: 0
                assets:
                  - id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    name: logoImage.png
                    status: READY
                    url: https://i.scdn.co/image/123
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    file_type: JPEG
                    asset_type: IMAGE
                  - id: ce4ff15e-f04d-48b9-9ddf-fb3c85fbd57a
                    name: logoImage.png
                    status: READY
                    url: https://i.scdn.co/image/123
                    created_at: '2026-01-23T04:56:07Z'
                    updated_at: '2026-01-23T04:56:07Z'
                    file_type: JPEG
                    asset_type: IMAGE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Assets by Ad Account
      tags:
        - assets
    post:
      description: Creates an asset belonging to provided ad account and returns asset metadata. Asset type can be either image, audio, or video.
      operationId: createAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        '200':
          description: The newly created asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}:
    get:
      description: Returns asset metadata for a given asset ID.
      operationId: getAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      responses:
        '200':
          description: Asset object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Asset by ID
      tags:
        - assets
    patch:
      description: Updates the given existing asset.
      operationId: updateAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
      responses:
        '200':
          description: The newly updated asset metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/upload:
    post:
      description: Uploads an asset to storage and returns asset metadata. Supports uploads of files up to 20MB in size. Asset type can be either image, audio, or video. See [here](https://ads.spotify.com/en-US/ad-experiences/audio-ads-specs/) for detailed list of requirements for audio assets and [here](https://ads.spotify.com/en-US/ad-experiences/video-takeover-ad-specs/) for video assets.
      operationId: uploadAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
            encoding:
              media:
                contentType: image/png, image/jpeg, audio/ogg, audio/mp3, audio/wav, audio/mpeg, audio/x-wav, video/mp4, video/quicktime
      responses:
        '200':
          description: The newly created asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Upload Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/chunked_upload/start:
    post:
      description: |
        Start a chunked asset upload process and retrieve upload session id. Asset type can be image, audio, or video.
        Client is expected to use max_chunk_size_mb in the response to dynamically determine how big each file chunk should be.
      operationId: startUploadChunkedAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      responses:
        '200':
          description: Contains a unique upload session ID to be used in subsequent transfer requests. Also, the maximum file chunk size in megabytes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChunkedUploadSession'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Start Upload Chunked Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/chunked_upload/transfer:
    post:
      description: Continues the upload session of a chunked asset by transferring one section of binary media data. Supports uploads of file chunks up to 20MB in size. Asset type can be either image, audio, or video.
      operationId: transferChunkedAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransferChunkedAssetRequest'
            encoding:
              media:
                contentType: image/png, image/jpeg, audio/ogg, audio/mp3, audio/wav, audio/mpeg, audio/x-wav, video/mp4, video/quicktime
      responses:
        '200':
          description: A boolean success indicator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferChunkedAssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Transfer Chunked Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/assets/{asset_id}/chunked_upload/complete:
    post:
      description: Completes the upload session of a chunked asset. Asset type can be either image, audio, or video.
      operationId: completeUploadChunkedAsset
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/asset_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChunkedUploadComplete'
      responses:
        '200':
          description: The newly uploaded asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Complete Upload Chunked Asset
      tags:
        - assets
  /ad_accounts/{ad_account_id}/audiences:
    post:
      description: Creates a new audience.
      operationId: createAudience
      summary: Create an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudienceRequest'
      responses:
        '201':
          description: An audience.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      description: Returns a list of audiences accessible to the ad account.
      operationId: batchGetAudiences
      summary: List Audiences accessible to an Ad Account
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/audience_ids'
        - $ref: '#/components/parameters/audience_types'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/audience_sort_field'
      responses:
        '200':
          description: A list of audiences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiencesListResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/{audience_id}:
    delete:
      description: Deletes an audience.
      operationId: deleteAudience
      summary: Delete an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/audience_id'
      responses:
        '200':
          description: The audience was deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      description: Returns an audience.
      operationId: getAudience
      summary: Get an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/audience_id'
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: An audience.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      description: Edits an audience.
      operationId: editAudience
      summary: Edit an Audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/audience_id'
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditAudienceRequest'
      responses:
        '200':
          description: An audience.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/upload_url:
    post:
      description: Get Signed GCS upload URL.
      operationId: createUploadUrl
      summary: Get Signed GCS upload URL to upload a user list file
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: A signed GCS upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUploadUrlResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/upload_url/{audience_id}:
    post:
      description: Get Signed GCS upload URL to replace an existing audience
      operationId: replaceUploadUrl
      summary: Get Signed GCS upload URL to upload a user list file for an existing audience
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/audience_id'
      responses:
        '200':
          description: A signed GCS upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUploadUrlResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ad_accounts/{ad_account_id}/audiences/datasets:
    get:
      description: A list of datasets eligible for creating custom audiences
      operationId: getAudienceEligibleDatasets
      summary: List Datasets eligible for creating Custom Audiences
      tags:
        - audiences
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of audiences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceEligibleDatasetsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /businesses:
    post:
      description: Creates a new business
      operationId: createBusiness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessRequest'
      responses:
        '200':
          description: A business object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Business
      tags:
        - businesses
    get:
      description: Gets businesses for logged-in user.
      operationId: getBusinesses
      x-enable-public-developer-portal-docs: false
      responses:
        '200':
          description: Array of business objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessesResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Businesses for Current User
      tags:
        - businesses
  /businesses/{business_id}:
    get:
      description: Returns business based on a given business id.
      operationId: getBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: A business object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Business by ID
      tags:
        - businesses
    patch:
      description: Update the given existing business.
      operationId: updateBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessRequest'
      responses:
        '200':
          description: Metadata for a business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Business
      tags:
        - businesses
  /businesses/{business_id}/ad_accounts:
    post:
      description: Create Ad Account.
      operationId: createAdAccountForBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdAccountRequest'
      responses:
        '200':
          description: Metadata of business' permission to an ad account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Ad Account
      tags:
        - ad-accounts
    get:
      description: Returns ad account(s) under a given business for the current authenticated user
      operationId: getAdAccountsInBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: A list of BusinessPermissionToAdAccount objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ad Accounts for Current User by Business ID
      tags:
        - ad-accounts
  /ad_accounts/{ad_account_id}/campaigns:
    get:
      description: Returns list of campaigns linked to an ad account.
      operationId: getCampaigns
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/campaignIds'
        - $ref: '#/components/parameters/campaigns-v3_components-parameters-name'
        - $ref: '#/components/parameters/adSetStatuses'
        - $ref: '#/components/parameters/campaignStatuses'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/parameters-sort_field'
        - $ref: '#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: A list of campaigns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsListResponse'
          links:
            GetAdSetsForCampaign:
              operationId: getAdSetsByAdAccountId
              parameters:
                ad_account_id: $request.path.ad_account_id
                campaign_ids: $response.body#/campaign.id
            GetSalesforceOpportunityForCampaign:
              operationId: getOpportunitiesByAdAccountId
              parameters:
                ad_account_id: $request.path.ad_account_id
                search_key: $response.body#/campaign.salesforceOpportunity
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Campaigns by Ad Account ID
      tags:
        - campaigns
    post:
      description: Creates campaign under a given ad account.
      operationId: createCampaign
      x-spotify-flow-step:
        flow: campaign-creation
        step: 1
        next: createAdSet
        description: Create a campaign first. Pass the returned campaign ID to createAdSet.
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        '200':
          description: Metadata of created campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          links:
            CreateAdSetForCampaign:
              operationId: createAdSet
              description: |
                Create an ad set under this campaign. Pass the returned campaign ID as campaign_id in the ad set creation request body.
            GetCreatedCampaign:
              operationId: getCampaign
              parameters:
                ad_account_id: $request.path.ad_account_id
                campaign_id: $response.body#/id
              description: Retrieve the newly created campaign.
            UpdateCreatedCampaign:
              operationId: updateCampaign
              parameters:
                ad_account_id: $request.path.ad_account_id
                campaign_id: $response.body#/id
              description: Update the campaign (e.g. change status to PAUSED or ARCHIVED).
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create a Campaign
      tags:
        - campaigns
  /ad_accounts/{ad_account_id}/campaigns/{campaign_id}:
    get:
      description: Returns campaign based on a given campaign ID.
      operationId: getCampaign
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/campaign_id'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Metadata for a single campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
          links:
            GetAdSetsForCampaign:
              operationId: getAdSetsByAdAccountId
              parameters:
                ad_account_id: $request.path.ad_account_id
                campaign_ids: $response.body#/campaigns.id
            GetSalesforceOpportunityForCampaign:
              operationId: getOpportunitiesByAdAccountId
              parameters:
                ad_account_id: $request.path.ad_account_id
                search_key: $response.body#/campaigns.salesforceOpportunity
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Campaign by ID
      tags:
        - campaigns
    patch:
      description: |
        Updates the given existing campaign. There is no DELETE endpoint for campaigns.
        To archive a campaign, set status to "ARCHIVED". To pause, set status to "PAUSED".
      operationId: updateCampaign
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/campaign_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
      responses:
        '200':
          description: Metadata for a single campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update a Campaign
      tags:
        - campaigns
  /estimates/audience:
    post:
      description: Returns audience estimates based on specific ad set parameters.
      operationId: estimateAudience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceEstimateRequest'
      responses:
        '200':
          description: Audience estimates response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEstimateResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEstimateErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Estimate audience
      tags:
        - estimates
  /estimates/bid:
    post:
      description: Returns a bid estimate (recommended bid range) based on specific ad set parameters.
      operationId: estimateBid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BidEstimateRequest'
      responses:
        '200':
          description: Bid estimate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidEstimateResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Estimate bid
      tags:
        - estimates
  /ad_accounts/{ad_account_id}/experiments/{experiment_id}/questions/{survey_question_id}:
    patch:
      description: Update a survey question
      operationId: updateSurveyQuestion
      parameters:
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/experiment_id'
        - $ref: '#/components/parameters/survey_question_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSurveyQuestionRequest'
      responses:
        '204':
          description: Successfully updated the survey question.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update survey question.
      tags:
        - experiments
  /businesses/{business_id}/mobile_apps:
    get:
      description: Get all mobile apps for the business.
      operationId: getMobileAppsByBusinessId
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: A list of mobile apps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAppsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get all mobile apps for a business
      tags:
        - mobile-measurement
    post:
      description: Create a mobile app.
      operationId: createMobileAppInBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMobileAppRequest'
      responses:
        '201':
          description: Mobile app created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileApp'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create mobile app
      tags:
        - mobile-measurement
  /businesses/{business_id}/mobile_apps/{mobile_app_id}:
    get:
      description: Get the mobile app by its id.
      operationId: getMobileAppByBusinessAndId
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/mobile_app_id'
      responses:
        '200':
          description: Mobile app response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileApp'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get the mobile app by its id.
      tags:
        - mobile-measurement
    patch:
      description: Update the specified mobile app.
      operationId: updateMobileAppByBusinessAndId
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/mobile_app_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileApp'
      responses:
        '200':
          description: Mobile app response with updated values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileApp'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update the specified mobile app.
      tags:
        - mobile-measurement
  /businesses/{business_id}/ad_accounts/{ad_account_id}/mobile_apps:
    get:
      description: Get all mobile apps for the ad account.
      operationId: getMobileAppsByBusinessIdAndAdAccountId
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/ad_account_id'
      responses:
        '200':
          description: A list of mobile apps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAppsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get all mobile apps for an ad account
      tags:
        - mobile-measurement
  /businesses/{business_id}/mobile_apps/{mobile_app_id}/ad_accounts/{ad_account_id}:
    post:
      description: Share a mobile app with an ad account within a business.
      operationId: shareBusinessMobileAppWithAdAccount
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/mobile_app_id'
      responses:
        '204':
          description: No content. The mobile app was shared successfully.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Share A Mobile App With An Ad Account
      tags:
        - mobile-measurement
    delete:
      description: Unshare a mobile app with an ad account within a business.
      operationId: unshareBusinessMobileAppWithAdAccount
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/ad_account_id'
        - $ref: '#/components/parameters/mobile_app_id'
      responses:
        '204':
          description: No content. The mobile app was unshared successfully.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Unshare A Mobile App With An Ad Account
      tags:
        - mobile-measurement
  /businesses/{business_id}/pixels:
    get:
      description: Get all pixels for the business account.
      operationId: getPixelsByBusinessId
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/include_events'
        - $ref: '#/components/parameters/include_historical_events'
        - $ref: '#/components/parameters/historical_events_start_date'
        - $ref: '#/components/parameters/historical_events_end_date'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Pixels response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixelsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get all pixels for a business account
      tags:
        - pixel-measurement
    post:
      description: |
        Create a new pixel.
      operationId: createPixelInBusiness
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixelRequest'
      responses:
        '201':
          description: The pixel was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pixel'
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create pixel
      tags:
        - pixel-measurement
  /businesses/{business_id}/pixels/{pixel_id}:
    get:
      description: Get pixel by id for a given business.
      operationId: getPixelById
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/pixel_id_path_param'
      responses:
        '200':
          description: Pixel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pixel'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get pixel by id for a given business.
      tags:
        - pixel-measurement
    patch:
      description: |
        Update an existing pixel.
      operationId: updatePixelById
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/pixel_id_path_param'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePixelRequest'
      responses:
        '200':
          description: The pixel was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePixelResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update pixel
      tags:
        - pixel-measurement
  /businesses/{business_id}/capi:
    post:
      summary: Create CAPI Integration
      description: Create a CAPI integration in a business
      operationId: createCapiIntegration
      tags:
        - capi-measurement
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCapiIntegrationRequest'
      responses:
        '201':
          description: The created CAPI integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapiIntegration'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /businesses/{business_id}/capi/{capi_connection_id}:
    get:
      summary: Get CAPI Integration
      description: Get a CAPI Integration by ID
      operationId: getCapiIntegrationById
      tags:
        - capi-measurement
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/capi_connection_id'
      responses:
        '200':
          description: The requested CAPI integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapiIntegration'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update CAPI Integration
      description: Update CAPI Integration
      operationId: updateCapiIntegrationById
      tags:
        - capi-measurement
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/capi_connection_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCapiIntegrationRequest'
      responses:
        '200':
          description: The updated CAPI integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapiIntegration'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /businesses/{business_id}/capi/{capi_connection_id}/tokens:
    post:
      summary: Create CAPI Auth Token
      description: Create a new long-lived JSON Web Token to authenticate CAPI requests
      operationId: createCapiAuthToken
      tags:
        - capi-measurement
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/capi_connection_id'
      responses:
        '201':
          description: A new JWT token for Authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapiCreateAuthTokenResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Get CAPI Auth Token(s)
      description: Gets all active authentication token(s)
      operationId: getCapiAuthTokens
      tags:
        - capi-measurement
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/capi_connection_id'
      responses:
        '200':
          description: List of active CAPI auth tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapiGetAuthTokenResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /businesses/{business_id}/capi/{capi_connection_id}/tokens/{capi_auth_token_id}:
    delete:
      summary: Delete CAPI Auth Token
      description: Soft delete the authentication token
      operationId: deleteCapiAuthToken
      tags:
        - capi-measurement
      parameters:
        - $ref: '#/components/parameters/business_id'
        - $ref: '#/components/parameters/capi_connection_id'
        - $ref: '#/components/parameters/capi_auth_token_id'
      responses:
        '204':
          description: The token has been deleted.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /businesses/{business_id}/datasets:
    get:
      summary: Get Datasets for Business
      description: Get all Datasets for a business
[...]
